*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --slate-900: #1F314F;
    --slate-500: #68778D;
    --slate-300: #D5E1EF;
    --white: #FFFFFF;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--slate-300);
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

h1 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 22px;
    letter-spacing: 0px;
    color: var(--slate-900);
}

p {
    font-weight: 400;
    line-height: 1.4;
    font-size: 15px;
    letter-spacing: 0.2px;
    color: var(--slate-500);
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.qr-card-container {
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.0477);
}

.qr-img {
    max-width: 100%;
    border-radius: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0 34px;
    text-align: center;
}

.attribution {
    margin: 16px 0;
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }